@font-face {
  font-family: Bebas;
  src: url(./assets/fonts/BebasNeue-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  scroll-behavior: smooth;
  // background-color: #121212;
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
#root {
  --main-text-color: #f5f6f7;
  --secondary-text-color: #a5a09f;
  --third-text-color: #0d141a;
  --main-color: #1cd4d4;
  color: var(--main-text-color);
  background-color: #121212;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  position: relative;
  min-height: 100vh;
  .main-container {
    width: calc(100% - 96px);
    transform: translateX(96px) translateY(96px);
    background-color: #121212;
  }
}
